body {
    font-family: 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
    font-size: 100%;
}

#status {
    overflow: hidden;
    max-width: 1000px;
    white-space: pre;
    text-overflow: ellipsis;
}
